@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Sono:wght@200;300;400&family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body,
#root,
.app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.font-logo {
  font-family: "Staatliches", sans-serif;
}

.font-lobster {
  font-family: "Lobster", cursive;
}

.font-marker {
  font-family: "Permanent Marker", cursive;
}

.hover-highlight-left-div .hover-highlight-left {
  box-shadow: inset 0 0 0 0 #48bf84;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-highlight-left-div:hover .hover-highlight-left {
  box-shadow: inset 300px 0 0 0 #48bf84;
  color: white;
}

.hover-highlight-right-div .hover-highlight-right {
  box-shadow: inset 0 0 0 0 #48bf84;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-highlight-right-div:hover .hover-highlight-right {
  box-shadow: inset -300px 0 0 0 #48bf84;
  color: white;
}
